*{
	margin: 0;
	padding: 0;
}
._1item{
position: relative;
height: 40px;
line-height: 40px;
}
._1item a.layer1{
color: white;
padding: 10px 20px;
}
._1item:hover a.layer1{
color: rgb(255.255.255);
background-color: gray;
}
._1item .layer2{
	position: absolute;
	top: 40px;
	left: 0px;
	visibility: hidden;
	opacity: 0;
	transition: 0.4s;
	width: 200px;
	background: #e8e0e0;
}
._1item:hover .layer2{
	visibility: visible;
	opacity: 1;
	
}
._1item .layer2 ul{
list-style: none;
}
._1item .layer2 ul li{

}
._1item .layer2 ul li a{
	display: block;
	width: 200px;
	padding: 5px 10px;
	font-family: segoe ui light;
	color: black;
	border-bottom: 1px solid gray;
	box-sizing: border-box;
}
._1item .layer2 ul li a:hover{
	background: white;
	color: black;
}
.menutop{
width: 100%;
height: 40px;
border: 1px solid grey;
line-height: 40px;
background-color: #002758;
background-attachment: fixed;
}
.menutop>ul{
	display: flex;
	list-style: none;
}
.menutop>ul>li{

}
.menutop>ul>li a{
	text-decoration: none;
}
.thumb1 img{
height: 40px;
width: 100px;
}
.thumb1{
	margin-left: 720px;
}
.slide1{
    
}
.member{
	height: 300px;
}
.member img{
	height: 300px;
	width: 300px;
}
.imagelogo{
	height: 300px;
}
.logo img{
	height: 300px;
	width: 100%;
}
.line1{
	height: 40px;
	display: flex;
	width: 100%;
	background-color: #e50040;
}
.li1{
    width: 25%;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid white;
}
.li1>a{
	color: white;
    font-family: segoe ui light;
    line-height:40px;
    text-decoration: none;
}



