<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Form</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/admin/add-category.css}">
<title>Add</title>
</head>
<body>
	<div id="header"></div>

	<div id="container">
		<div class="ground">
			<div class="forum">
				<form action="/Maven02/AddCategory" method="post">
					<div class="f form-group">
						<label for="">Product Name:</label> <input class="form-control"
							name="fname" type="text" value=""
							placeholder="Enter Product Name">
					</div>
			
				
				
					<div class="f9">

						<button type="submit btn btn-primary">Submit</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>