<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<link rel="stylesheet" th:href="@{/css/admin/dashboard/Slider/dashboard.css}">
	 <link rel="stylesheet" th:href="@{/css/admin/dashboard/font/fontawesome-free-5.9.0-web/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin/dashboard/Slider/owlcarousel/assets/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin/dashboard/Slider/owlcarousel/assets/owl.theme.default.min.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>	
    <script src="@{/css/admin/dashboard/Slider/owlcarousel/owl.carousel.min.js}"></script>
    <script src="@{/css/admin/dashboard/Slider/owlcarousel/main.js"}></script>							
</head>
<body>
<div class="header">
	<div class="menutop">
		
<ul>
	<li><div class="_1item">
		
		<a href="" class="layer1">HOME</a>	
		
		<div class="layer2">
			<ul>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>
	</div></li>
	<li><div class="_1item">
		
		<a href="" class="layer1">JERSEYS</a>	
		
		<div class="layer2">
			<ul>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>
	</div></li>
	<li><div class="_1item">
		
		<a href="/Maven02/CategoryForm" class="layer1">CATEGORY</a>	
		
		<div class="layer2">
			<ul>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>
	</div></li>
	<li><div class="_1item">
		
		<a href="" class="layer1">FOOTWEAR</a>	
		
		<div class="layer2">
			<ul>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>
	</div></li>
	<li><div class="_1item">
		
		<a href="" class="layer1">ACCESSORIES</a>	
		
		<div class="layer2">
			<ul>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>
	</div></li>
	<li><div class="_1item">
		
		<a href="" class="layer1">CONTACT</a>	
		
		<div class="layer2">
			<ul>
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>
		</div>
	</div></li>
    <li>
    	<div class="_1item">
    	<div class="thumb1">
    		<img th:src="@{/img/db-slider2.img/1.png}" alt="">
    	</div>
    	<div class="_1item">
    </li>
</ul>

	</div>
<div class="imagelogo">
	<div class="logo">
		<img th:src="@{/img/db-slider.img/9.webp}" alt="">
		</div>
</div>
<div class="line1">
	<div class="li1"><a href="">One Store,Every Team</a></div>
	<div class="li1"><a href="">Student Discount</a></div>
	<div class="li1"><a href="">New Era Core Range</a></div>
	<div class="li1"><a href=""><a href="">Voucher</a></div>

</div>	
<div class="slider1">
	  <div class="wp-slider slide1">
  	<div class="owl-carousel owl-theme">
 <div class="member c1" >
 	<img th:src="@{/img/db-slider.img/1.jpg}" alt="">
 </div>
  <div class="member c2" >
  	 	<img th:src="@{/img/db-slider.img/2.jpg}" alt="">

  </div>
  <div class="member c3">
  	 	<img th:src="@{/img/db-slider.img/3.jpg}" alt="">

  </div>
  <div class="member c4">
  	 	<img th:src="@{/img/db-slider.img/4.jpg}" alt="">

  </div>
  <div class="member c5">
  	 	<img th:src="@{/img/db-slider.img/5.jpg}" alt="">

  </div>
  <div class="member c6">
  	 	<img th:src="@{/img/db-slider.img/6.jpg}" alt="">

  </div>

</div>
  </div>
</div>
</div>
</body>
</html>